<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Animal Cadastro</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Clínica</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Donos
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/dono/donoCadastro">Cadastro</a></li>
            <li><a class="dropdown-item" href="/dono/donoList">Buscar</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Animais
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/animal/cadastro">Cadastro</a></li>
            <li><a class="dropdown-item" href="/animal/animalList">Buscar</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Consulta
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Marcar</a></li>
            <li><a class="dropdown-item" href="#">Buscar</a></li>
            <li><a class="dropdown-item" href="#">Atualizar</a></li>
            <li><a class="dropdown-item" href="#">Deletar</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div style="margin: 10px 200px 10px 200px;">
  <form method="POST" action="/animal/cadastro" th:object="${animaldto}">
    <input type="hidden" name="id" id="dto-id-input" th:value="${animaldto.id}" >
    <div class="mb-3">
      <label for="nome-input" class="form-label">Nome</label>
      <input type="text" class ="form-control" name="nome"  id ="nome-input" placeholder="Digite o nome" required th:value="${animaldto.nome}" >
    </div>

    <div class = "mb-3">
      <label for="dono-input" class="form-label">Dono</label>
      <select th:field="${animaldto.dono}" id ="dono-input" class="js-example-basic-single" name="dono" style="width: 50%">
        <option  th:each="dono : ${animaldto.donos}" th:value="${dono.donoId}" th:text="${dono.nome}" th:selected="${animaldto.dono == dono}"> </option>
      </select>
    </div>

    <div class = "mb-3">
      <label for="tipo-input" class="form-label">Tipo</label>
      <select  th:field="${animaldto.tipo}" id="tipo-input" class="js-example-basic-single" name="tipo" style="width: 50%">
        <option th:each="tipo : ${animaldto.tipos}" th:value="${tipo.tipoAnimalId}" th:text="${tipo.nome}" th:selected="${animaldto.tipo == tipo}"> </option>
      </select>
    </div>
  
    <button type="submit" class="btn btn-primary">Cadastrar</button>
  </form>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $(".js-example-basic-single").select2();
  });
</script>


</body>
</html>