<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista de Donos</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>
<!-- Menu -->
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Clínica</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Donos
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/dono/donoCadastro">Cadastro</a></li>
                        <li><a class="dropdown-item" href="/dono/donoList">Buscar</a></li>
                        <li><a class="dropdown-item" href="#">Atualizar</a></li>
                        <li><a class="dropdown-item" href="#">Deletar</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Animais
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Cadastro</a></li>
                        <li><a class="dropdown-item" href="#">Buscar</a></li>
                        <li><a class="dropdown-item" href="#">Atualizar</a></li>
                        <li><a class="dropdown-item" href="#">Deletar</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Consulta
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Marcar</a></li>
                        <li><a class="dropdown-item" href="#">Buscar</a></li>
                        <li><a class="dropdown-item" href="#">Atualizar</a></li>
                        <li><a class="dropdown-item" href="#">Deletar</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Telefone</th>
            <th scope="col">CPF</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="dono : ${donos}">
            <td th:text="${dono.donoId}"></td>
            <td th:text="${dono.nome}"></td>
            <td th:text="${dono.cpf}"></td>
            <td th:text="${dono.telefone}"></td>
        </tr>
    </tbody>
</table>

<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>