<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Lista de Consultas</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Clínica</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Donos
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/dono/donoCadastro">Cadastro</a></li>
            <li><a class="dropdown-item" href="/dono/donoList">Buscar</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Animais
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/animal/cadastro">Cadastro</a></li>
            <li><a class="dropdown-item" href="/animal/animalList">Buscar</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Veterinario
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/veterinario/cadastro">Cadastro</a></li>
            <li><a class="dropdown-item" href="/veterinario/veterinarioList">Buscar</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Consulta
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Marcar</a></li>
            <li><a class="dropdown-item" href="#">Buscar</a></li>
            <li><a class="dropdown-item" href="#">Atualizar</a></li>
            <li><a class="dropdown-item" href="#">Deletar</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div>
  <table class="table table-dark table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Veterinário</th>
      <th scope="col">Animal</th>
      <th scope="col">Tipo</th>
      <th scope="col">Descrição</th>
      <th scope="col">Data</th>
      <th scope="col">Ações</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="consulta : ${consultas}">
      <td th:text="${consulta.consultaId}"></td>
      <td th:text="${consulta.veterinario.getNome()}"></td>
      <td th:text="${consulta.animal.getNome()}"></td>
      <td th:text="${consulta.tipoConsulta.getNome()}"></td>
      <td th:text="${consulta.descricao}"></td>
      <td th:text="${consulta.data}"></td>
      <td>
        <a th:href="@{'/consulta/atualizar/' + ${consulta.consultaId}}" class="btn btn-primary">Alterar</a>
        <a th:href="@{'/consulta/remover/' + ${consulta.consultaId}}" class="btn btn-danger">Deletar</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>